<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="xyw" value="False"/>
		<add key="cmcc" value="False"/>
    <add key="unicom" value="False"/>
    <add key="telecom" value="False"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="runlogin" value="False"/>
    <add key="startlogin" value="False"/>
    <add key="autoreconnect" value="False"/>
  </appSettings>

</configuration>